.cake {
    border-bottom: #cccccc dashed 2px;
    display: flex;
    padding: 20px 0px;
}

.cake-content {
    width: 60%;
    padding-right: 50px;
}

.cake a {
    text-decoration: none;
    color: #000;
}

.cake-img {
    width: 40%;
}

.cake-img img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.cake-list{
    padding: 20px;
}

.linkClick{
    text-decoration: none;
    color: black;
    border: 2px solid gray;
    padding: 1px;
}

