.login-form{
    padding: 100px 0px;
    margin-left: 36%;
}
.login-content{
    display: flex;
    
}
.login-name p{
    margin: 8px 0px;
}
.tb{
    margin: 5px;
}
.login-name{
    width: 18%;
}
.login-input{
    width: 20%;
}