/*Header*/
.header {
    height: 179px;
    background-color: #3c453e;
    color: #fff;
}



.title {
    display: flex;
    height: 124px;
    font-size: 17px;
    padding-left: 20px;
    padding-top: 20px;
}

.icon{
    width: 10%;
}
.icon img{
    width: 100%;
}
.label{
    width: 90%;
}
.title h1 {
    color: #58c46f;
    margin-bottom: 0px;
}

.access {
    display: flex;
    height: 35px;
    padding-left: 20px;
    background-color: #1b1f1c;
    line-height: 35px;
}
.headmenu{
    width: 86%;
}
.login{
    width: 14%;

}

.access a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}
/*Main content*/
body {
    margin: 0px;
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: 1000px;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 24px rgba(0,0,0,.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content {
    height: 100%;
    display: flex;
}

.content-left {
    width: 75%;
    
}

.content-right {
    width: 25%;
    margin: 20px 20px 0px 0px;
}
/*Footer*/
.footer {
    height: 77px;
    margin: 0px 20px;
    line-height: 77px;
    border-top: 1px solid rgba(0,0,0,.2);
}
/*Right content*/
.box {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    padding: 15px
}

.box h3 {
    margin-top: 0;
}

.box a {
    color: #000;
 }       

.box a:before {
    content: "";        
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: inline-block;
    background-size: 16px;
}

.box a.face:before {
    background-image: url('/Image/facebook.png');
 }

    .box a.twitter:before {
        background-image: url('/Image/twitter.png');
    }

    .box a.goole:before {
        background-image: url('/Image/google.png');
    }        
/*other componet*/
