.signup-form {
    padding: 100px 0px;
    margin-left: 36%;
}

.signup-content {
    display: flex;
}

.signup-name p {
    margin: 2px 0px 16px 0px;
}

.tbSign {
    margin: 5px;
}

.signup-name {
    width: 20%;
}

.signup-input {
    width: 20%;
}
